.bio {
    color: #282828;
    margin: 300px 0 0 0;
}

.bio #judul {
    font-size: 85px;
    font-weight: 600;
}

.bio #desc {
    font-size: 32px;
}

.hub {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.lkn, .gh, .ig {
    margin: 0px 30px;
    text-decoration: none;
    color: #282828;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.lkn:hover, .gh:hover, .ig:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

.cv {
    text-align: center;
    text-decoration: none;
    border: solid 2px #282828;
    border-radius: 5px;
    padding: 3px 80px 3px 80px;
    margin: 0px 30px;
    font-size: 28px;
    font-weight: 600;
    transition: 0.3s;
}

#cv:link, #cv:visited {
    text-decoration: none;
    color: #282828;
}

.cv:hover, .cv:link:hover {
    color: white;
    background-color: #282828;
}