.navbar {
    font-size: 20px;
    font-weight: bolder;
    color: #282828;
    background-color: white;
    padding: 45px 180px;
    top: 0;
    left: 0;
}

.content {
    float: right;
    display: flex;
}

.navbar #home {
    float: left;
}

.navbar #pj {
    margin-right: 30px;
    text-decoration: none;
}

.navbar #home:link,
.navbar #home:visited,
.navbar #pj:link,
.navbar #pj:visited {
    text-decoration: none;
    color: #282828;
}

.navbar .cont {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.navbar .cont:hover {
    animation-name: swipe;
    animation-timing-function: ease;
}

@keyframes swipe {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}