.project {
    margin-top: 50px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.showcase Template {
    flex: 1 1 30%;
}

.kotak {
    border: solid 2px #282828;
    border-radius: 5px;
    display: inline-block;
    height: auto;
    width: 350px;
    margin: 15px;
    padding: 15px;
}

.kotak img {
    width: 350px;
    height: 200px;
}

.kotak p {
    text-align: justify;
    text-justify:distribute-all-lines;
}