/* Desktop */

.showcase {
    display: flex;
    
    align-items: flex-start;
    justify-content: center;
}

.kotak {
    border: solid 2px #282828;
    border-radius: 5px;
    display: inline;
    height: auto;
    width: 350px;
    margin: 15px;
    
}

.kotak img {
    width: 350px;
    height: 200px;
}

.kotak p {
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 10px;
}

/* Mobile */
@media (max-width:767px) {
    .kotak img {
        width: 450px;
        height: 250px;
    }

    .kotak {
        border: solid 2px #282828;
        border-radius: 5px;
        display: inline-block;
        height: auto;
        width: 450px;
        margin: 15px;
        padding: 15px;
    }

    .showcase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}